@use 'variables'
@use 'mixins'
    
body
    background-color: variables.$bg-color
    font-family: variables.$default-font

*
    margin: 0
    padding: 0
    box-sizing: border-box

.main
    @include mixins.flexbox
    height: 100vh

a
    transition: .5s
    text-decoration: none
    color: variables.$link-color

    &:hover
        opacity: .8
